
<!-- Logos Section -->
<div class="container all-logos">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="img/all.gif" class="img-fluid">
        </div>
        <div class="col-xs-12 col-md-6 text-center" style="margin-top: 38px;">
            <h2 class="text-center font-weight-bolder fon">Lit's Learn</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis modi deleniti nostrum. Sequi magni earum sit deserunt laboriosam expedita tempora maiores error dignissimos enim quibusdam dicta, iusto dolorem libero quidem.
            </p>
            <button class="btn fon" style="background-color: #33b5e5;color: #fff;">Read More</button>
        </div>
    </div>
</div>
<!-- Logos Section -->



<!-- Courses Area -->
<div class="container all-logos">
<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-title fon">Our Courses</h2>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 soHi">
        <div class="card border-0 shadow rounded-xs pt-5">
            <div class="card-body"> <i class="fa fa-language icon-lg icon-primary icon-bg-primary icon-bg-circle mb-3"></i>
                <h4 class="mt-4 mb-3 fon">Languages</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate quas quod, unde, neque vel quibusdam natus asperiores autem ipsum qui in ipsa voluptates suscipit laborum saepe labore officia similique?</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 soHi">
        <div class="card border-0 shadow rounded-xs pt-5">
            <div class="card-body"> <i class="fa fa-leaf icon-lg icon-yellow icon-bg-yellow icon-bg-circle mb-3"></i>
                <h4 class="mt-4 mb-3 fon">Biology</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos aut pariatur eligendi voluptatibus accusamus iusto veritatis quod nihil, deleniti eum error exercitationem, fugit incidunt similique officia doloremque, necessitatibus assumenda nemo.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 soHi">
        <div class="card border-0 shadow rounded-xs pt-5">
            <div class="card-body"> <i class="fa fa-code icon-lg icon-purple icon-bg-purple icon-bg-circle mb-3"></i>
                <h4 class="mt-4 mb-3 fon">SoftWare</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam omnis ipsum laboriosam saepe. Tenetur, numquam. Rem enim officiis ab, necessitatibus cum officia. Ipsam minus tempora incidunt aut modi eius asperiores? necessitatibus assumenda nemo.</p>
            </div>
        </div>
    </div>
    
</div>
</div>
<!-- Courses Area -->

<!-- jumptron Area -->
<div class="" style="background-image: url('img/bg.jpg');background-size: cover;background-attachment: fixed;">
    <div style="height: 100%; background-color: rgba(0,0,0,0.6);">
        <div class="text-white text-center py-5 px-4">
            <div>
              <h2 class="card-title h1-responsive pt-3 mb-5 font-bold" style="color: #fff;"><strong>Lit's go Leaning With Us</strong></h2>
              <p class="mx-5 mb-5" style="color: #fff;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
              </p>
              <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>
            </div>
          </div>
    </div>
  </div>
<!-- jumptron Area -->

<!-- gallury Area -->
<div class="container all-logos">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-title fon">Our Gallery</h2>
        </div>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
    
        <!--Modal: Name-->
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
    
            <!--Content-->
            <div class="modal-content">
    
                <!--Body-->
                <div class="modal-body mb-0 p-0">
    
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{watch?v=rdD1hBldt6Q}}"
                    allowfullscreen></iframe>
                </div>
    
                </div>
    
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
    
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                </div>
    
            </div>
            <!--/.Content-->
    
            </div>
        </div>
        <!--Modal: Name-->
    
        <a><img class="img-fluid z-depth-1" src="img/ved1.webp" alt="video"
            data-toggle="modal" data-target="#modal1"></a>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
    
        <!--Modal: Name-->
        <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
    
            <!--Content-->
            <div class="modal-content">
    
                <!--Body-->
                <div class="modal-body mb-0 p-0">
    
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{watch?v=ob_XCa4b1rA}}"
                    allowfullscreen></iframe>
                </div>
    
                </div>
    
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
    
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                </div>
    
            </div>
            <!--/.Content-->
    
            </div>
        </div>
        <!--Modal: Name-->
    
        <a><img class="img-fluid z-depth-1" src="img/ved2.webp" alt="video"
            data-toggle="modal" data-target="#modal6"></a>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
    
        <!--Modal: Name-->
        <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
    
            <!--Content-->
            <div class="modal-content">
    
                <!--Body-->
                <div class="modal-body mb-0 p-0">
    
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{watch?v=6v8djXa-IPQ}}"
                    allowfullscreen></iframe>
                </div>
    
                </div>
    
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                <span class="mr-4">Spread the word!</span>
                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                <!--Linkedin-->
                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>
    
                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                </div>
    
            </div>
            <!--/.Content-->
    
            </div>
        </div>
        <!--Modal: Name-->
    
        <a><img class="img-fluid z-depth-1" src="img/ved3.webp" alt="video"
            data-toggle="modal" data-target="#modal4"></a>
    
        </div>
        <!-- Grid column -->
    
    </div>
    <!-- Grid row -->
    
</div>
<!-- gallury Area -->


<!-- Our Clients Believe Us Area -->

<!-- Our Clients Believe Us Area -->